<div class="col-lg-12 h-100" *ngIf="!startSelected">
    <div class="card bg-secondary shadow border-0" id="answer">

        <div class="card-header bg-white">
            <div class="text-muted text-center">
                <h2>{{ answerSelected?.title }}</h2>
            </div>
        </div>

        <div class="card-body">
            <div class="wrapper">
                <div class="box" *ngFor="let answer of answerSelected?.answers">{{ answer?.title }}</div>
            </div>
        </div>

    </div>
</div>