<main>
  <section class="section section-shaped section-lg page">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center animate__animated animate__backInLeft">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center mb-3">
                <small>Sign in with</small>
              </div>
              <div id="google-wrapper" class="btn-wrapper text-center">
                <div #googleBtn id="buttonDiv"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>

              <!-- FORM -->
              <form autocomplete="off" [formGroup]="form" (ngSubmit)="login()">

                <!-- Email -->
                <div class="form-group mb-3" [ngClass]="{'has-danger': emailValid, 'animate__animated animate__fadeIn': emailValid}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>

                    <input 
                    class="form-control" 
                    placeholder="Email" 
                    type="email"
                    formControlName="email"
                    [ngClass]="{'focused':focus===true}">
                  </div>

                  <div *ngIf="f.email.touched && f.email.invalid">
                    <div *ngIf="f.email.errors?.required"><small class="text-danger animate__animated animate__fadeIn">Email is required.</small></div>
                    <div *ngIf="f.email.errors?.email"><small class="text-danger animate__animated animate__fadeIn">Please, enter valid email address.</small></div>
                    <div *ngIf="f.email.hasError('containSpace')"><small class="text-danger animate__animated animate__fadeIn">Email cannot contains spaces.</small></div>
                  </div>
        
                </div>

                <!-- Password -->
                <div class="form-group" [ngClass]="{'has-danger': passwordValid, 'animate__animated animate__fadeIn': passwordValid}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>

                    <input 
                    class="form-control" 
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                    [ngClass]="{'focused':focus===true}">
                  </div>

                  <div *ngIf="f.password.touched && f.password.invalid">
                    <div *ngIf="f.password.errors?.required"><small class="text-danger animate__animated animate__fadeIn">Password is required.</small></div>
                  </div>

                </div>

                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input 
                  class="custom-control-input animate__animated animate__fadeIn" 
                  id=" customCheckLogin" 
                  type="checkbox" 
                  formControlName="remember">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Remember me</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a routerLink="/auth/register" class="text-light">
                <small>Create new account</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a routerLink="/play" class="text-light">
                <small>Play now</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>