.rounded-button {
  width: 31px;
  height: 31px;
  background: #5e72e4;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.rounded-button:hover {
  background: #4a5ab6;
}

.rounded-button-elipsis {
  width: 31px;
  height: 31px;
  background: #d3d3d3;
  color: #bb2121;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.rounded-button:hover {
  background: #b43434;
}

.rounded-button-edit {
  width: 31px;
  height: 31px;
  background: #d3d3d3;
  color: #218fbb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.option {
  min-width: 235px;
  max-width: 235px;
}

.myButton {
  width: 25px;
  height: 25px;
  background: #d3d3d3;
  color: #bb2121;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.myButton:hover {
  background: #b43434;
  color: #ffffff;
}

@media (max-width: 503px) {
  .option {
    min-width: 48%;
    max-width: 48%;
    margin: 1px;
  }
}
