.rounded-button {
  width: 31px;
  height: 31px;
  background: #5e72e4;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.rounded-button:hover {
  background: #4a5ab6;
}

.rounded-button-elipsis {
  width: 31px;
  height: 31px;
  background: #d3d3d3;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.rounded-button:hover {
  background: #a3a3a3;
}
