<main>
    <section class="section section-shaped section-lg page">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center animate__animated animate__backInLeft">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white">
                            <div class="text-muted text-center">
                                <h2>PLAY QUIZ</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-center text-muted mb-4">
                                <small>ENTER A CODE TO START TO PLAY A QUIZ</small>
                            </div>

                            <form autocomplete="off" [formGroup]="quizForm" (ngSubmit)="joinToQuiz()">
                                <div class="form-group mb-3" [ngClass]="{'has-danger': invalidCode, 'animate__animated animate__fadeIn': invalidCode}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                        </div>

                                        <input 
                                        class="form-control" 
                                        placeholder="CODE" 
                                        type="text"
                                        formControlName="code"
                                        oninput="this.value = this.value.toUpperCase()">
                                    </div>

                                    <div *ngIf="f.code.touched && f.code.invalid">
                                        <div *ngIf="f.code.errors?.required"><small class="text-danger animate__animated animate__fadeIn">Code required</small></div>
                                        <div *ngIf="f.code.errors?.minlength"><small class="text-danger animate__animated animate__fadeIn">Code not valid</small></div>
                                        <div *ngIf="f.code.hasError('containSpace') && !f.code.errors?.minlength"><small class="text-danger animate__animated animate__fadeIn">Spaces not allowed</small></div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary my-4">JOIN</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <a routerLink="/auth/login" class="text-light">
                                <small>Do you have already account?</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>