<div *ngIf="Participants?.length === 0" class="m-2 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12 card p-3 bg-primary">
            <i class="fad fa-frown fa-5x text-white"></i>

            <h2 class="text-white">No one seems to have joined the Quiz.</h2>
            <small class="text-white text-uppercase">Share the quiz code and invite to your friends to play!</small>

            <div class="container form-inline justify-content-center mt-3">
                <div class="form-group form-inline justify-content-center">
                    <div class="input-group mb-4">
                      <input id="code" class="my-input" placeholder="Birthday" value="ABCDE123" type="text" [readonly]="true" #code>
                      <div class="input-group-append">
                        <button type="button" (click)="copyInputMessage(code)" class="btn btn-white"><i class="fad fa-clipboard"></i></button>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>