/* You can add global styles to this file, and also import other style files */
.check-error {
    border: 1px solid red !important;
}

#google-wrapper {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}