<form autocomplete="off">
    <div class="form-row justify-content-center mt-3">
      <div class="form-group form-inline mx-auto">
        Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
      </div>
    </div>
    <div class="form-row justify-content-center mt-3"  *ngIf="service.loading$ | async">
      <div class="form-group form-inline mx-auto">
        <span class="ml-3"><i class="fad fa-spinner fa-spin fa-2x"></i></span>
      </div>
    </div>
  
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Participants</th>
          <th scope="col">Stats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quizzes$ | async; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="quiz.title" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="quiz.code" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="quiz.participants.length"></ngb-highlight>
          </td>
          <td>
            <a href="javascript:void(0)" (click)="navigateToQuiz(quiz.id)"><i class="fad fa-chevron-right"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
      </select>
    </div>
  
  </form>