.rounded-button {
    width: 30px;
    height: 30px;
    background: #5e72e4;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
  }
  
  .rounded-button:hover {
    background: #4a5ab6;
  }
  