<main>
    <section class="section section-shaped section-lg page">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center animate__animated animate__backInLeft">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white">
                            <div class="text-muted text-center">
                                <h2>Pregunta 1</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-center text-muted mb-4">
                                <h3>10S</h3>
                            </div>
                            
                        <ul class="list-group mt-3">
                            <li class="list-group-item selectedtAnswer">Respuesta 1</li>
                            <li class="list-group-item">Respuesta 2</li>
                            <li class="list-group-item">Respuesta 3</li>
                            <li class="list-group-item">Respuesta 4</li>
                        </ul>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary my-4">NEXT</button>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>